<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_gear"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_gear_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GearUp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ForecastDetail"
            android:exported="false" />
        <activity
            android:name=".Forecast"
            android:exported="false" />
        <activity
            android:name=".ManageOrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".CheckoutListFormActivity"
            android:exported="false" />
        <activity
            android:name=".ProductReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".StepByStepActivity"
            android:exported="false" />
        <activity
            android:name=".RecommendedServicesActivity"
            android:exported="false" />
        <activity
            android:name=".VideoResultsActivity"
            android:exported="false" />
        <activity
            android:name=".SeeAllServicesActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".LocalTrendsDetails"
            android:exported="false" />
        <activity
            android:name=".ServicesRecommendActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LocalShopDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CheckoutFormActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".PopularProductDetail"
            android:exported="false" />
        <activity
            android:name=".ShopPinLocation"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".FutureSalesActivity"
            android:exported="false" />
        <activity
            android:name=".ProductSalesActivity"
            android:exported="false" />
        <activity
            android:name=".ConversationSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ConversationListActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".MessageSeller"
            android:exported="false" />
        <activity
            android:name=".MessageBuyer"
            android:exported="false" />
        <activity
            android:name=".ProductDetailsBuyerActivity"
            android:exported="false" />
        <activity
            android:name=".ManageOrderActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryInfoActivity"
            android:exported="false" />
        <activity
            android:name=".SellerShopActivity"
            android:exported="false" />
        <activity
            android:name=".PeripheralsActivity"
            android:exported="false" />
        <activity
            android:name=".BodyActivity"
            android:exported="false" />
        <activity
            android:name=".ConnectorsActivity"
            android:exported="false" />
        <activity
            android:name=".CentralComponentsActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageBuyer"
            android:exported="false" />
        <activity
            android:name=".SellerRegister"
            android:exported="false" />
        <activity
            android:name=".BuyerRegister"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChooseUser"
            android:exported="false" />
        <activity
            android:name=".HomePageSeller"
            android:exported="false" />
        <activity
            android:name=".ProductDetails"
            android:exported="false" />
        <activity
            android:name=".ProductList"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBxZQtGxstYbYZZuumicMr-AM6NTVzd6Ek" />
    </application>

</manifest>